:root {
    --white: #fff;
    --black: #000;
    --color-grape: #731E46;
    --color-blue: #211E73;
    --color-green: #45BF28;
    --color-grey: #bbb;
    --font-primary: 'Titillium Web', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin: 0;
    background: url(../img/bg-SFIS-1920x1400.jpg) no-repeat center top;
    font-family: var(--font-primary);
    display: grid;
    min-height: 100vh;
}

/* Menu */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header-content {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;

    transition: 0.3s;
    transition-property: color, background;
}


.logo-nav img {
    display: block;
    width: 70%;
    height: 100%;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    transition: all 0.5s ease;

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav.active {
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.cont-ul {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 2vw;
    transition:  all .3s ease 0s;
    color: var(--white);
}

li:hover {
    background-color: var(--color-green);
}

/* menu usuarios */
.usuarios {
    position: relative;
}

.usuarios:hover > .ul-first {
    display: block;
}

.ul-first {
    display: none;
    position: absolute;
    margin-top: 1.9vw;
}

.ul-first > li {
    width: 190px;
    height: 30px;
    transform: translateX(-55px);
    border-bottom:solid 1px var(--white);
    text-align: left;
    background-color: rgb(185, 183, 183, .5);
}

.ul-first > li:hover {
    background-color: var(--color-green);
}
/* end menu usuarios */

/* menu configuracion */
.configuracion {
    position: relative;
}

.configuracion:hover > .ul-second {
    display: block;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 2vw;
}

.ul-second > li {
    width: 190px;
    height: 30px;
    transform: translateX(-69px);
    border-bottom:solid 1px var(--white);
    text-align: left;
    background-color: rgb(185, 183, 183, .5);
}

.ul-second > li:hover {
    background-color: var(--color-green);
}
/* end menu configuracion */

/* menu registros */
.registros {
    position: relative;
}

.registros:hover > .ul-third {
    display: block;
}

.ul-third {
    display: none;
    position: absolute;
    margin-top: 2vw;
}

.ul-third > li {
    width: 190px;
    height: 30px;
    transform: translateX(-69px);
    border-bottom:solid 1px var(--white);
    text-align: left;
    background-color: rgb(185, 183, 183, .5);
}

.ul-third > li:hover {
    background-color: var(--color-green);
}
/* end menu registros */

/* end Menu */

a {
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
    color: var(--white);
    font-size: 16px;
}

a:hover {
    transition: all .3s;
}

/* Banner */
main {
    top: 0;
}

.main__slider {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-top: 90px;
}

.main__slider .container__slider {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.main__slider .container__slider .box__slider {
    align-self: center;
    color: var(--color-grey);
}

/* end Banner */

/* Main */
.card__box {
    padding: 0.6rem;
}

form {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */

    width: 100%;
    /* padding: 0 1rem; */
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

label {
    margin-left: 15px;
}

.field {
    display: flex;
    flex-direction: column;

    width: 25rem;
    padding-right: 1em;
    margin: 0.5rem 0 ;
}

.field label {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
    color: var(--white);
}

.field input {
    font-size: 0.9rem;
    height: 2.6rem;
    padding-left: 0.7rem;
    border: none;
    outline: none;
    border-radius: 25px;
    color: var(--white);
    background-color: rgba(255,255,255,0.5);
}

.field select {
    font-size: 0.9rem;
    color: var(--white);
    height: 2.6rem;
    padding-left: 0.7rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
}

select {
    font-size: 0.9rem;
    height: 2.2rem;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
}

.custom-select {
    position: relative;
}

.custom-arrow {
    position: absolute;
    top: 27px;
    right: 1px;
    display: block;
    border: 1px solid rgb(185, 185, 185);
    background: #747474;
    height: 60%;
    width: 2.5em;
    pointer-events: none;
    border-radius: 0 25px 25px 0;
}

.custom-arrow::before,
.custom-arrow::after {
    --size: 0.3em;

    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-arrow::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid rgba(255, 255, 255, 0.5);

    top: 35%;
    transition: .25s all ease;
}

.custom-arrow::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgba(255, 255, 255, 0.5);

    top: 65%;
    transition: .25s all ease;
}

/* end Main */

/* Tabla */
.sctTabla {
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.cntTabla {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

th:first-child {
    border-top-left-radius: 5px;
    border-right: none;
}

th:last-child {
    border-top-right-radius: 5px;
}

th {
    color: #d5dde5;
    font-size: 15px;
    background-color: #504F4F;
    border-bottom: 3px solid #000;
    padding: 10px;
    /* width: 100%; */
    /* max-width: 1000px; */
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

td {
    font-size: 15px;
    padding: 10px;
}

tr {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}


tr:hover td {
    background: #AFAEAE;
    color: #fff;
    /* border-top: 1px solid #000; */
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

.fa, .fa-edit {
    font-size: 20px;
    color: var(--color-grape);
}

.fa, .fa-trash {
    font-size: 20px;
    color: var(--color-grape);
}

i:hover {
    color:var(--color-green);
    -webkit-filter: drop-shadow(0px 0px 5px #666);
	filter: drop-shadow(0px 0px 5px #666);
    transition:all  .8s  ease;
}

tr {
    height: 30px;
}

th {
    /* padding-right: 30rem; */
    border-bottom: 1px solid #000;
}

td {
    /* padding-right: 27rem; */
    border-bottom: 1px solid #000;
}

.first-col {
    width: 100px;
    text-align: left;
}

.second-col {
    width: 800px;
    text-align: left;
}

.last-col {
    width: 75px;
}

.btn-grape {
    width: 200px;
    height: 42px;
    color: var(--white);
    font-size: 0.9em;
    border: none;
    margin-top: 25px;
    /* margin-bottom: 30px; */
    border-radius: 25px;
    background: var(--color-green);
    font-weight: 600;
    cursor: pointer;
}

.btn-grape:hover {
    background-color: var(--color-grape);
    box-shadow: 0px 0px 5px 5px rgba(250, 250, 250, 0.15);
    transition: 0.5s all ease-in;
    color: var(--white);
}

/* end Tabla */

/* Footer */
.footer {
    padding: 1em 0;
    text-align: center;
    margin-top: 50px;
    color: var(--white);
}
.scrol {
    height: 70px;
}

/* end Footer */

/* media queries */
@media (max-width: 1920px) {
    li {
        padding: 1.6vw;
    }

    .ul-first {
        margin-top: 1.7vw;
    }

    .ul-first > li {
        transform: translateX(-71px);
        margin-top: -2px;
        padding-top: 15px;
    }

    .ul-second {
        margin-top: 1.6vw;
    }

    .ul-second > li {
        transform: translateX(-71px);
        padding-top: 15px;
    }

    .ul-third {
        margin-top: 1.6vw;
    }

    .ul-third > li {
        transform: translateX(-71px);
        padding-top: 15px;
    }
}

@media (max-width: 1440px) {
    li {
        padding: 2.2vw;
    }
    .ul-first {
        margin-top: 2.35vw;
    }

    .ul-first > li {
        transform: translateX(-72px);
    }

    .ul-second {
        margin-top: 2.2vw;
    }

    .ul-second > li {
        transform: translateX(-72px);
    }

    .ul-third {
        margin-top: 2.2vw;
    }

    .ul-third > li {
        transform: translateX(-72px);
    }
}

@media (max-width: 1024px) {
    .logo-nav img {
        width: 60%  ;
    }

    li {
        padding: 2.5vw 2vw;
    }

    .nav {
        justify-content: center;
        height: 67px;
    }

    .ul-first {
        margin-top: 2.7vw;
    }

    .ul-first > li {
        transform: translateX(-61px);
    }

    .ul-second {
        margin-top: 2.5vw;
    }

    .ul-second > li {
        transform: translateX(-61px);
    }

    .ul-third {
        margin-top: 2.5vw;
    }

    .ul-third > li {
        transform: translateX(-60px);
    }

    .header-content {
        max-width: 900px;
    }

    form {
        max-width: 900px;
    }

    .field {
        width: 24rem;
        margin: 0.3rem 0;
    }

    .field label {
        font-size: 0.9rem;
    }

    .field select {
        height: 2.4rem;
    }

    .custom-arrow {
        top: 23px;
        height: 60%;
    }

    .main__slider {
        margin-top: 50px;
    }

    .container__card .card {
        width: 260px;
    }

    .button {
        width: 85%;
    }

    .container__card .card img {
        width: 300px;
    }
}
/* end media queries */