:root {
    --white: #fff;
    --black: #000;
    --color-grape: #731E46;
    --color-blue: #211E73;
    --color-green: #45BF28;
    --color-grey: #bbb;
    --font-primary: 'Titillium Web', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    background-size: 100vw 100vh;
    background: url(../img/bg-SFIS-1920x1080.jpg) no-repeat center top;
}

.modal__ppal {
    margin-top: 25px;
}

.titulo__actividad {
    font-size: 20px;
    padding: 0;
    margin-left: 15px;
    font-weight: 700;
}

.titulo-desconocido {
    font-size: 20px;
    padding: 0;
    margin-left: 25px;
    font-weight: 700;
    color: var(--color-grape);
}

.contenedor-modal {
    width: 800px;
    margin-top: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    border-radius: 1em;
}

.contenedor-modal header {
    display: flex;
    padding: 10px;
    background: var(--color-grape);
    color: var(--white);
    justify-content: space-between;
    border-radius: 1em 1em 0 0;
}

.contenedor-modal label {
    display: flex;
    top: 100px;
    margin-right: 5px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    right: 10px;
    color: var(--white);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background: rgba(250, 249, 249, 0.1);
}

.lbl-modal {
    background: var(--black);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.modal__imagen {
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal__img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.desconocido__img {
    grid-row-start: 1;
    grid-row-end: 6;
}

.desconocido__img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* card 2 */
.container__desconocido {
    margin: 25px;
    display: flex;
    font-size: 14px;
}

.card {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.section-one img {
    width: 400px;
    border-radius: 10px;
}

.section-two {
    width: 150px;
    height: 130px;
    margin: 0 0 4px 10px;
    padding-left: 10px;
    align-items: flex-end;
    display: grid;
    color: var(--white);
    background: rgba(115, 30, 70, 1);
    border-radius: 10px 10px 0 0;
    font-weight: 600;
}

.section-two div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-three {
    width: 200px;
    height: 130px;
    margin: 0 0 4px 10px;
    align-items: flex-start;
    display: grid;
}

.section-three div {
    border-bottom: 1px solid var(--black);
    width: 130px;
}

.section-three div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item__5 {
    color: var(--color-grape);
    background: #D5BCC8;
    padding-left: 10px;
    margin-left: -10px;
    padding-top: 4px;
    height: 30px;
    border-radius: 0 0 10px 10px;
}

/* end card 2 */