* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #fff;
    font-family: 'Titillium Web', sans-serif;
    background-size: 100vw 100vh;
}

body, .modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
    padding: 0;
    margin-left: 15px;
    font-weight: 700;
}

.title2 {
    font-size: 20px;
    padding: 0;
    margin-left: 25px;
    font-weight: 700;
    color: #731E46;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-modal:checked ~ .modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
    border-radius: 1em;
}

#btn-modal:checked ~ .modal .contenedor {
    transform: translateY(0%);
}

.contenedor header {
    padding: 10px;
    background: #731E46;
    color: #fff;
    border-radius: 1em 1em 0 0;
}

.contenedor label {
    display: flex;
    top: 10px;
    margin-right: 5px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    background: rgba(250, 249, 249, 0.1);
}

#btn-modal {
    display: none;
}

.lbl-modal {
    background: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.modal__picture {
    width: 100%;
    margin: 0 auto;
    max-width: 750px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal__img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.desconocido__img {
    grid-row-start: 1;
    grid-row-end: 6;
}

.desconocido__img img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.table1__item {
    background: #E8F3F9;
    border-radius: 10px;
    padding-left: 10px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

/* card 2 */
.container__desconocido {
    margin: 25px;
    display: flex;
    font-size: 14px;
}

.card {
    position: relative;
    display: flex;
    width: 100%;
}

.section-one img {
    width: 400px;
    border-radius: 10px;
}

.section-two {
    width: 150px;
    height: 130px;
    margin: 0 0 4px 10px;
    padding-left: 10px;
    align-items: flex-end;
    display: grid;
    background: #E8F3F9;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
}

.section-two div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-three {
    width: 200px;
    height: 130px;
    margin: 0 0 4px 10px;
    align-items: flex-start;
    display: grid;
}

.section-three div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.item__5 {
    background: #D5BCC8;
    padding-left: 10px;
    margin-left: -10px;
    padding-top: 4px;
    height: 30px;
    border-radius: 0 0 10px 10px;
}

.item__10 {
    padding-left: 10px;
    margin-left: -10px;
    padding-top: 4px;
    height: 30px;
}
/* end card 2 */